.navbar {
    background-color: rgb(163, 10, 10);
    height: 80px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex: start;
    align-items: center;
    cursor: pointer;
    position: sticky;
    top: 0px;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color: black;
}

.nav-menu {
    background-color: rgb(163, 10, 10);
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: -100%;
    left: -100%;
}

.nav-menu.active {
    position: sticky;
    top: 70px;
    height: 100%;
    left: 0;
    overflow-y: scroll;
}

.nav-text {
    display: flex;
    flex: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    margin-top: -5px;
    list-style: none;
    height: 45px;
}

.nav-text a {
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;
    margin-right: 15px;
}

.nav-text a:hover {
    background-color: rgb(101, 0, 0);
}

.nav-menu-items {
    width: 100%;
}

span {
    margin-left: 16px;
}