@font-face {
    font-family: 'Bebas Neue';
    src: url('/src/components/bebas_neue/BebasNeue-Regular.ttf') format('truetype');
  }
  
  * {
    margin: 0px;
    padding: 0px;
}

body {
      background-image: linear-gradient(#000000, #E50914);
      background-size: cover;
      min-height: 98vh;
  }